@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');

* {     
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

.color-header {
    background-color: #00aced;
    color: white;
}

.user {
    color: rgb(83, 82, 82);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.button {
    background-color: #00aced;
    font-weight: 600;
    color: #fff;
    border-radius: 20px;
    border: 0;
}

.button:hover {
    background-color: #0084b4;
}

.button:disabled {
    background-color: #c1c1c1;
    cursor: not-allowed;
}

.letters-counter {
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(32, 32, 32);
}

h1 {
    font-family: 'Noto Serif', serif;
}

textarea {
    overflow: hidden;
    resize: none;
    width: 100%;
    font-size: 18px;
    border-bottom: 2px solid #c1c1c1;
}

textarea:focus {
    border-bottom: 2px solid #0084b4;
    outline: 0;
}

.postedTweets {
    font-size: 15px;
    font-family: 'Merriweather Sans', sans-serif;
}

.tweets {
    background-color: #e6ecf0;
    margin: 15px;
    padding: 3px;
}
